
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />
</head>
<body class="container">
    <img src="~/images/logo.jpg" class="logo" alt="logo" />
    <input type="button" value="Click me" class="btn btn-danger" />
    
    @*<img src="~/MyStaticFiles/dummy.jpg" alt="dummy" />*@


    @for (int i = 0; i < 10; i++)
    {
        <h1 class="h1">Welcome to book store application</h1>
    }

    @{
        var list = new List<int>() { 10, 20, 30, 40, 50 };
    }
    @foreach (var item in list)
    {
        <h1>@item</h1>
    }

    @{
        int a = 10;
        int b = 0;
    }

    @switch (a)
    {
        case 1:<h1>I am 1</h1>
            break;
        case 2:<h1>I am 2</h1>
            break;
        case 3:<h1>I am 3</h1>
            break;
        case 4:<h1>I am 4</h1>
            break;
        default:<h1>I am default</h1>
            break;
    }

    @*<h1>Ternary = @(a==10 ? b=10 : b=5)</h1>
        <h1>Value of b = @b</h1>*@


    @*@if (a == 5)
        {
            a++;
            <h1>Hello from if block and value = @a</h1>
        }
        else if (a == 10)
        {
            <h1>Hello from else if block</h1>
        }
        else
        {
            <h1>Hello from else block</h1>
        }*@

    @*<h1>@DateTime.Now.ToString("dd-M-yyyy")</h1>
            <h1>Sum = @(3+5)</h1>
            <hr />
            <h1>Multiline - </h1>
            @{
            int a = 10;
            int b = 20;
            int c = a + b;
        }
            <h1>@c</h1>

            <h2>My email - shiva@gmail.com</h2>
            <h2>My Twitter - @@websk</h2>
    *@
    <p>This is home page of our book application</p>
    
</body>
    <script src="~/lib/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(function () {
        alert("Page loaded");
    });
</script>
